**plotlabserver/stb_image.h
**.git
**.git**
**/.git
**/build
plotlabserver/build
plotlablib/plotlablib/external
plotlablib/plotlablib/build
**.log
docker-compose.yaml
**.dockerignore
*.tests
ci.env
ci_pipeline
.ci_pipeline
